font_family JetBrainsMono Nerd Font
font_size 13.0
window_padding_width 10


# BEGIN_KITTY_THEME
# Tokyo Night
include current-theme.conf
# END_KITTY_THEME

{{- if ne .profile "mac" }}
hide_window_decorations yes
{{- end }}

# Transparent background (Neovim nordfox is transparent too)
background_opacity 0.85
dynamic_background_opacity yes
{{- if eq .profile "mac" }}

# macOS: treat left Option as Alt (Alt+w, Alt+Backspace, ...)
macos_option_as_alt left

# Font size: Ctrl+- smaller, Ctrl++ bigger (Turkish Q: + is Shift+4)
map ctrl+minus   change_font_size all -1.0
map ctrl+plus    change_font_size all +1.0
map ctrl+shift+4 change_font_size all +1.0
{{- end }}
